$colors: (
  white: #fafafa,
  grey-light: #f8f7f7,
  grey: #aeaeae,
  black: #000000,

  info: #3298dc,
  success: #48c774,
  warning: #ffdd57,
  danger: #f14668
);

@function c($color) {
  @if map-has-key($colors, $color) {
    $color: map-get($colors, $color);
  } @else {
    @if type-of($color) !=color {
      @error "Invalid color name: `#{$color}`.";
    }
  }
  @return $color;
}
