@mixin breakpoint($point) {
    @if $point == xxlarge {
      @media (min-width: 100rem) {
        @content;
      }
    } @else if $point == xlarge {
      @media (min-width: 90rem) {
        @content;
      }
    } @else if $point == large {
      @media (min-width: 70rem) {
        @content;
      }
    } @else if $point == medium {
      @media (min-width: 64rem) {
        @content;
      }
    } @else if $point == small {
      @media (min-width: 50rem) {
        @content;
      }
    } @else if $point == xsmall {
      @media (min-width: 37.5rem) {
        @content;
      }
    } @else if $point == xxsmall {
      @media (max-width: 37.5rem) {
        @content;
      }
    }
  }
  
  @mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
  }
  
  @mixin scale($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    transform: scale($scale);
  }
  
  @mixin transition($properties) {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  
    transition-property: #{$properties};
  }
  
  @mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @mixin translateY($position: relative) {
    @include vertical-align($position);
  }
  
  @mixin horizontal-align($position: relative) {
    position: $position;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  @mixin translateX($position: relative) {
    @include horizontal-align($position);
  }

  @mixin translate($position: relative) {
    @include centre-align($position);
  }
  
  @mixin centre-align($position: relative) {
    position: $position;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
  