.template-index {
    
    #MainContent {

        padding-left:0;
        padding-right:0;
        
        .shopify-section {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 0;
            align-self: auto;
            flex-shrink: 1;
            flex-basis: 100%;
            order: 0;

            @include breakpoint(medium) {
                flex-basis: 50%;
                width:50%;
            }
        }
    }

    .featured-collection {
        
        display:block;
        text-align:center;
        width:100%;
        
        border-top:1px solid c(black);
        @include breakpoint(medium){
            border-top:0;
        }
        
        .featured-collection__item {
            border-left:1px solid c(black);
            &:nth-of-type(even) {
                border-right:1px solid c(black);
            }
            &:nth-of-type(3),
            &:nth-of-type(4) {
                .btn--add-to-bag {
                    border-bottom:0;
                }
            }
            &::after {
                display:none;
            }
            a:first-of-type {
                margin-bottom:1.5rem;
            }
            div,
            span {
                display:block;
                margin:0 auto;
                width:100%;
            }
            span.product-tag {
                margin: 0 0 0 -50px;
                width:93px;
            }
            img {
                margin:0 auto;
            }
            .responsive-image__wrapper {
                position:relative;
                height:0;
                overflow:hidden;
                padding-top:300px;
                margin-bottom:3rem;
                img {
                    bottom:0;
                    @include translateX(absolute);
                }
            }
        }

    }
}