<svg width="12" height="20" class="icon" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.6078 20V11.2437H10.791L11.2701 7.83124H7.61186V5.65249C7.61186 4.66624 7.90825 3.99124 9.44298 3.99124H11.4V0.934988C11.0549 0.893738 9.89366 0.799988 8.54569 0.799988C5.72389 0.799988 3.79125 2.38999 3.79125 5.31124V7.82749H0.599976V11.24H3.79125V20H7.6078Z" fill="black"/>
</svg>
