
.template-collection #MainContent,
#shopify-section-collection-list,
#shopify-section-featured-collection {
    text-align:center;
}

.collection__title,
.collection-list__title,
.featured-collection__title {
    display:inline-block;
    position:relative;
    &::after {
        content:"";
        display:block;
        height:2px;
        position:absolute;
        right:-1rem;
        bottom:-0.2em;
        left:-1rem;            
    }
}

.collection-list-item,
.featured-collection__item {
    text-align:center;
    
    span {
        display:block;
        width:100%;
    }
    &::after,
    a::after {
        display:none;
    }
    .responsive-image__wrapper {
        @include transition(all);
    }
    &:hover,
    &:active,
    &:focus {
        .responsive-image__wrapper {
            @include scale(1.1);
        }
    }

    p {
        margin-bottom:0;
    }
}