#shopify-section-featured-product {

    padding:5rem 0;
    text-align:center;

    > div {
        margin:0 auto;
        width:500px;
        max-width:100%;
    }

    div[data-price-wrapper] {
        margin:0 0 1rem 0;
    }
}