#qualities {

    padding-top:2.5rem;
    padding-bottom:1.3rem;

    h4 {
        margin-bottom:0;
    }

    span {
        font-size:0.93rem;
        width:200px;
        max-width:100%;
    }
}

#main-footer {

    padding:3.5rem 0 0 0;

    .footer-logo {
        margin-top:1rem;
    }

    .footer-menu {
        h4 {
            font-family: "DIN Pro Medium";
            margin:0;
        }
        ul {
            margin-top:0.5rem;
            li {
                line-height:1.99rem;
            }
        }
    }

    .practitioner-wrapper {
        h4 {
            margin:1.5rem 0 2rem 0;
        }
    }

}

#absolute-footer {
    border-top:1px solid c(black);
    padding:2rem 3rem;
    margin-top:4rem;
}

.socials {
    li:first-child {
        display:block;
        padding:1.5rem 0 1rem 0;
    }
    li.link-wrapper {
        background-color:c(grey-light);
        border-radius:21px;
        display:inline-block;
        height:41px;
        width:41px;
        line-height:51px;
        position:relative;
        text-align:center;
        a {
            display:inline;
        }
    }
}