#main-header {

    font-size:16px;
    * {
        font-size:inherit;
    }
    padding:1rem 0 0.9rem 0;

    .logo {
        text-align:center;
        h1 {
            a {
                display:inline;
                position:initial;
            }
            display:inline;
            font-family: "DIN Pro Regular";
            font-size:2.2rem;
            letter-spacing:2.6px;
            margin:0;
            position:relative;
            padding-right:2rem;
            top:-5px;
            left:-2px;
            span {
                position:absolute;
                right:-5px;
                top:1px;
            }
        }
    }

}

.header-right {
    list-style-type:none;
    text-align:center;
    margin-bottom:1rem;
    @include breakpoint(medium) {
        margin-bottom:0;
        text-align:right;
    }
    li {
        display:inline;
        padding: 0 1.24rem;
        &:first-child {
            padding-left:0;
            padding-right:0;
        }
    }

    form {
        display:inline-block;
        position:relative;
        padding-left:40px;
        width:auto;
        button {
            background:none;
            background-color:transparent;
            border:0 none;
            height:40px;
            width:40px;
            padding:0;
            position:absolute;
            top:4px;
            left:21px;
            @include transition(all);
            &:hover,
            &:focus {
                @include scale(1.1);
            }
        }
        input {
            background:none;
            background-color:transparent;
            border:0;
            display:inline-block;
            margin:0;
            padding-top:0.7rem;
            padding-right:0;
            padding-left:1.2rem;
            width:67px;
        }
    }
}
.cart-link {

    padding-right:28px;
    position:relative;
    
    span {
        background-color:c(black);
        border-radius:12px;
        color:c(white);
        display:inline-block;
        line-height:24px;
        text-align:center;
        height:24px;
        width:auto;
        min-width:24px;
        position:absolute;
        right:0;
        top:0;
    }

}

#announcement-bar {
    background-color:c(black);
    color:c(white);
    padding:6px;
    text-align:center;
}