#main-navigation {

    ul {
        list-style-type:none;
        text-align:center;
        @include breakpoint(medium) {
            text-align:left;
        }
        li {
            display:inline-block;
            padding: 0.5rem 1.24rem;
        }
    }

}