#newsletter-signup {
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    border-top:1px solid c(black);
    padding:8rem 0 8rem 0;
    text-align:center;

    p {
        margin:0.5rem 0 2.6rem 0;
    }
}