.product-name {
    font-size:1.29rem;
    margin-bottom:0;
}


sub.subheading {
    font-size:1rem;
}

.product-tag {
    background-color:c(black);
    color:c(white);
    font-family: "DIN Pro Medium";
    font-size:11px;
    padding:0;
    text-align:center;
    position:absolute;
    left:50%;
    right:auto;
    top:315px;
    width:100px;
    margin-left:-50px;
}