#skin-tool {

    padding:15%;
    @include breakpoint(medium) {
        padding:23% 20% 15% 18%;
    }

    h2 + p {
        margin:2.7rem 0;
    }

    h3 {
        margin-top:4.2rem;
    }

    .newsletter.control {
        margin:0;
    }

}