button,
input[type="submit"],
.btn {
    background-color: c(black);
    border: 0 none;
    //border-radius: 0.4rem;
    color: c(white);
    cursor:pointer;
    margin-bottom:1rem;
    padding:1rem 3rem;
    text-transform:uppercase;

    @include transition(background-color);

    &:hover,
    &:active,
    &:focus {
        background-color: lighten(c(black),20%);
    }

    &.btn--inverted {

        background-color: c(white);
        color:c(black);

        &:hover,
        &:active,
        &:focus {
            background-color: darken(c(white),10%);
        }
    }
}

.btn--add-to-bag {
    background:none;
    background-color:transparent;
    border:1px solid c(black);
    border-left:0;
    border-right:0;
    color:c(black);
    margin:0;
    @include transition("background-color,color");
    &:hover,
    &:focus {
        background-color:c(black);
        color:c(white);
    }
}