.newsletter {

    &.control {
        width:361px;
        max-width:100%;
        input[type="email"] {
            background-color:c(black);
            color:c(white);
            margin:0;
            width:100%;
            &::-webkit-input-placeholder {
                color:c(white);
            }
            &:-ms-input-placeholder {
                color:c(white);
            }
            &::placeholder {
                color:c(white);
            }
        }
        button {
            background:none;
            background-color:transparent;
            color:c(white);
            height:46px;
            margin:0;
            padding:0 2rem;
            position:absolute;
            top:0;
            right:0;
            svg {
                right:1.5rem;
                @include translateY(absolute);
                @include transition(right);
            }
            &:hover,
            &:active,
            &:focus {
                svg {
                    right:1rem;
                }
            }
        }
    }
    
}

input[type="checkbox"] {
    opacity:0;
    + label {
        cursor:pointer;
        display:block;
        margin-top:0.5rem;
        padding-left:2rem;
        position:relative;
        &::before {
            background-color:c(white);
            border:2px solid c(black);
            content:"";
            display:block;
            height:11px;
            width:11px;
            position:absolute;
            top:3px;
            left:0;
            @include transition(background-color); 
        }
    }
    &:checked + label::before {
        background-color:c(black);
    }
}