input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="month"],
input[type="date"],
input[type="datetime-local"],
input[type="color"],
textarea {
    position:relative;
    background-color:c(white);
    font-family:inherit;
    outline:none;
    resize:none;
    border:1px solid c(grey);
    margin:1rem 0;
    padding:1rem;
    @include transition(all);
    &:focus {
        border-color:c(black);
    }

    &::-webkit-input-placeholder {
        color:c(black);
        font-family: inherit;
    }
    &:-ms-input-placeholder {
        color:c(black);
        font-family: inherit;
    }
    &::placeholder {
        color:c(black);
        font-family: inherit;
    }
} 