html, body {
    font-family: "DIN Pro Regular";
    // specify font size on body in pixels then use rem and em throughout the rest of the styles
    font-size: 14px;
    line-height:1.6;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5 {
    //font-family: "DIN Pro Medium";
    font-weight:400;
    margin:1rem 0;
    line-height: 3.08rem;
}
h1,.h1 {
    font-size:3rem;
}
h2,.h2 {
    font-size:2.26rem;
}
h3,.h3 {
    font-size:1.25rem;
}
h4,.h4 {
    font-size:1.2rem;
}
h5,.h5 {
    font-size:1rem;
}

p, label {
    margin:1rem 0;
}

i,em {
    font-family: "DIN Pro Regular Italic";
}

b, strong {
    font-family: "DIN Pro Medium";
}