{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
<section class="featured-collection">

  {% if section.settings.title != blank %}
    <h2 class="featured-collection__title">{{ section.settings.title | escape }}</h2>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}

  <div class="flex-wrapper w-100">

  {% for product in collection.products limit: 6 %}
  <span class="featured-collection__item flex-item fb-50 w-50">
    <a href="{{ product.url | within: collection }}" class="d-block w-100">
      <span>
        {% if product.featured_image != blank %}
          <span class="featured-collection__image">
            {% include 'responsive-image' with
              image: product.featured_image,
              max_width: 480,
              max_height: 480
            %}
          </span>
        {% endif %}

        {% for tag in product.tags %}
          {% assign tagHandle = tag | handleize %}
          {% if tagHandle == 'brand-new' %}
          <span class="product-tag">
            {{ tag }}
          </span>
          {% endif %}
        {% endfor %}

        <p class="product-name">{{ product.title | escape }}</p>
        
        {% if product.metafields.custom_fields["subheading"] != blank %}
          <sub class="subheading">
            {{ product.metafields.custom_fields["subheading"] }}
          </sub>
        {% endif %}
        <span>
          {% if product.compare_at_price > product.price %}
            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              <strong>{{ product.price | money }}</strong>
            {% endif %}
          {% else %}
            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              <strong>{{ product.price | money }}</strong>
            {% endif %}
          {% endif %}
        </span>
      </span>
    </a>
    <a class="btn btn--add-to-bag d-block w-100" href="/cart/add?id={{ product.selected_or_first_available_variant.id }}&quantity=1" title="Add to Bag">ADD TO BAG</a>
  </span>
  {% else %}
    {% for i in (1..6) %}
      <a href="#" class="featured-collection__item flex-item fb-50 w-50">
        <span>
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

          <p>{{ 'homepage.onboarding.product_title' | t }}</p>
          <p>{{ 1999 | money }}</p>
        </span>
      </a>
    {% endfor %}
  {% endfor %}

  </div>

</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
