<section id="qualities" class="bg-dark">

  <div class="container">

    <div class="flex-wrapper align-content-center">

      <div class="flex-item fb-100 fb-md-33 center-content pb-2 prl-1">
        <h4 class="mt-0 d-block w-100">Secure Payments</h4>
        <span class="d-block mrl-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
      </div>

      <div class="flex-item fb-100 fb-md-33 center-content pb-2 prl-1">
        <h4 class="mt-0 d-block w-100">Quick Delivery</h4>
        <span class="d-block mrl-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
      </div>

      <div class="flex-item fb-100 fb-md-33 center-content pb-2 prl-1">
        <h4 class="mt-0 d-block w-100">Responsive Service</h4>
        <span class="d-block mrl-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
      </div>

    </div>
    
  </div>

</section>

<footer id="main-footer">

  <div class="container">

    <div class="flex-wrapper">

      <div class="flex-item fb-100 fb-sm-50 fb-md-25 p-1">

        <div>

          <img class="footer-logo" src="{{ 'footer-logo-min.png' | asset_url }}" alt="Dermatology M logo" /> 

          {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
          <ul class="socials d-block">
            <li><span>Follow us on social media</span></li>
            {% for social in social_accounts %}
              {%- assign social_handle = social | handleize -%}
              {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
              {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

              {% if settings[social_link] != blank %}
                <li class="link-wrapper">
                  <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                    {% include social_icon %}
                    {% comment %}<span class="icon-fallback-text">{{ social }}</span>{% endcomment %}
                  </a>
                </li>
              {% endif %}

            {% endfor %}
          </ul>

        </div>
      
      </div>

      <div class="flex-item fb-100 fb-sm-50 fb-md-25 footer-menu p-1">

        <div>
          {% comment %}
          {%- assign footer_linklist = section.settings.footer_linklist -%}
          {% if linklists[footer_linklist].links.size > 0 %}
            <ul>
              {% for link in linklists[footer_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
          {% endcomment %}

          <h4>About</h4>
          <ul>
            <li><a href="#" title="Consultation Tool">Consultation Tool</a></li>
            <li><a href="#" title="Practitioner">Practitioner</a></li>
            <li><a href="#" title="Shop">Shop</a></li>
            <li><a href="#" title="Log-in">Log-in</a></li>
            <li><a href="#" title="Our Formulas">Our Formulas</a></li>
            <li><a href="#" title="Sustainability">Sustainability</a></li>
            <li><a href="#" title="Ingredients A-Z">Ingredients A-Z</a></li>
            <li><a href="#" title="Awards">Awards</a></li>
          </ul>

        </div>

      </div>

      <div class="flex-item fb-100 fb-sm-50 fb-md-25 footer-menu p-1">
        
        <div>
          
          <h4>Customer Services</h4>
          <ul>
            <li><a href="#" title="Refund Policy">Refund Policy</a></li>
            <li><a href="#" title="FAQs">FAQs</a></li>
            <li><a href="#" title="Delivery Information">Delivery Information</a></li>
            <li><a href="#" title="Contact Us">Contact Us</a></li>
          </ul>
        
        </div>

      </div>

      <div class="flex-item fb-100 fb-sm-50 fb-md-25 footer-menu p-1">
        
        <div>
          <h4>Legal</h4>
          <ul>
            <li><a href="#" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
            <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
          </ul>

          <div class="practitioner-wrapper">
            <h4>Become a Practitioner</h4>
            <a href="#" class="btn" title="Practitioner Login">PRACTITIONER LOGIN</a>
          </div>

        </div>

      </div>

    </div>

  </div>


  <section id="absolute-footer">
    
    <div class="container">

      <div class="flex-wrappper">

        <div id="copyright" class="flex-item fb-100 fb-sm-50">
          <small>&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }} | Site by BAO</small>
        </div>

        <div id="payment-icons" class="flex-item fb-100 fb-sm-50">
          {% if section.settings.show_payment_icons %}
            {% unless shop.enabled_payment_types == empty %}
              <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
              <ul class="payment-icons">
                {% for type in shop.enabled_payment_types %}
                  <li>
                    {{ type | payment_type_svg_tag: class: 'icon' }}
                  </li>
                {% endfor %}
              </ul>
            {% endunless %}
          {% endif %}
        </div>

      </div>

    </div>

  </section>

</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
