{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header" class="container">

  <header id="main-header" role="banner" class="flex-wrapper">

    <ul class="header-right fb-100 fb-md-33 order-md-3">

      <li>
        <form action="/search" method="get" role="search">
          <input type="search"
            name="q"
            id="Search-{{ section.id }}"
            value="{{ search.terms | escape }}"
            placeholder="Search">

          <button type="submit" class="button">
            {% include 'icon-search' %}
          </button>
        </form>
      </li>

      <li>
        <a href="#" tite="Account">
          Account
        </a>
      </li>

      <li>
        <a href="/cart" id="cart-link" class="cart-link">
          Bag
          <span>{{ cart.item_count }}</span>
        </a>
      </li>

    </ul>

    <div class="logo fb-100 fb-md-33 order-md-2">
      <h1><a href="/" title="Dermatology M">Dermatology <span>M</span></a></h1>
    </div>

    <nav id="main-navigation" role="navigation" class="fb-100 fb-md-33 order-md-1">
      <ul>
        <li><a href="#" title="Browser our shop">Shop</a></li>
        <li><a href="#" title="Find out about us">About</a></li>
        <li><a href="#" title="Visit our Blog">Blog</a></li>
      </ul>
    </nav>   
    
  </header>

  
</section>

<div id="announcement-bar">
  <span>Lorem ipsum dolor sit amet consectetur</span>
</div>

{% comment %}
{%- if section.settings.announcement_bar_enabled -%}
  <div>
    {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
      {%- if section.settings.announcement_bar_link != blank -%}
        <a href="{{ section.settings.announcement_bar_link }}">
          {{ section.settings.announcement_bar_text | escape }}
        </a>
      {%- else -%}
        <p>{{ section.settings.announcement_bar_text | escape }}</p>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endif -%}
{% endcomment %}

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
