<section id="skin-tool">
    <h2>{{ section.settings.section_title }}</h2>

    <p>{{ section.settings.section_text }}</p>

    <h3>{{ section.settings.email_label }}</h3>
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
      {% else %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        
        <div class="newsletter control p-relative mrl-auto">
            <input type="email"
            name="contact[email]"
            id="Email"
            value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
            {% comment %} placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" {% endcomment %}
            placeholder="Enter your email address"
            autocorrect="off"
            autocapitalize="off">
            <button type="submit" name="commit" id="Subscribe" title="{{ 'general.newsletter_form.submit' | t }}">
            {% include 'icon-arrow-right' %}
            </button>
            <input type="checkbox" id="newsletter-checkbox" />
            <label for="newsletter-checkbox">
                {{ section.settings.newsletter_signup_text }}
            </label>
        </div>
        
      {% endif %}
    {% endform %}
</section>

{% schema %}
  {
    "name": "Skin Tool",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Thank you for taking the time to complete our skin tool. Based on the answers provided, we recommend the following."
      },
      {
        "type": "text",
        "id": "section_text",
        "label": "Text",
        "default": "If you would like more information we offer a complimentary telephone consultation. <a href='#' title='Vist Here'>Visit Here</a> to complete an enquiry to arrange this."
      },
      {
        "type": "text",
        "id": "email_label",
        "label": "Email Label",
        "default": "Email yourself the results"
      },
      {
        "type": "text",
        "id": "newsletter_signup_text",
        "label": "Newsletter Signup Text",
        "default": "Sign up for our newsletter. We won't pass your details on to any other third parties."
      }
    ],
    "presets": [{
        "name": "Skin Tool",
        "category": "Promotional"
    }]
  }
{% endschema %}