<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
  {% comment %} include 'style-tags', layout: 'theme' {% endcomment %}
  {% comment %} include 'css-variables' {% endcomment %}

  <style>
    @font-face {
      font-family: "DIN Pro Regular";
      src: local('DIN Pro Regular'), url({{ 'DIN-Pro-400.otf' | asset_url }}) format('opentype');
    }
    @font-face {
      font-family: "DIN Pro Regular Italic";
      src: local('DIN Pro Regular Italic'), url({{ 'DIN-Pro-Italic-400.otf' | asset_url }}) format('opentype');
    }
    @font-face {
      font-family: "DIN Pro Light";
      src: local('DIN Pro Light'), url({{ 'DIN-Pro-Light-300.otf' | asset_url }}) format('opentype');
    }
    @font-face {
      font-family: "DIN Pro Light Italic";
      src: local('DIN Pro Light Italic'), url({{ 'DIN-Pro-Light-Italic-300.otf' | asset_url }}) format('opentype');
    }
    @font-face {
      font-family: "DIN Pro Medium";
      src: local('DIN Pro Medium'), url({{ 'DIN-Pro-Medium-500.otf' | asset_url }}) format('opentype');
    }
    @font-face {
      font-family: "DIN Pro Medium Italic";
      src: local('DIN Pro Medium Italic'), url({{ 'DIN-Pro-Medium-Italic-500.otf' | asset_url }}) format('opentype');
    }
  </style>

  {{ 'app.css' | asset_url | stylesheet_tag }}

  {% comment %} include 'script-tags', layout: 'password' {% endcomment %}

  {{ content_for_header }}
</head>

<body class="template-password">
  <header role="banner">
    <h1>
      {{ shop.name }}
    </h1>
  </header>

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  <footer>
    {% capture shopify_link %}
      <a href="//www.shopify.com" target="_blank" rel="nofollow" title="Create your own online store with Shopify">
        {% include 'icon-shopify-logo' %}
        <span class="icon-fallback-text">Shopify</span>
      </a>
    {% endcapture %}
    {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify_link }}
  </footer>

  <div id="Login">
    <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
      <input type="password"
        name="password"
        id="Password"
        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
      <button type="submit" name="commit">
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    {% endform %}
    <p>{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>
</body>
</html>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
