<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% comment %} include 'style-tags', layout: 'theme' {% endcomment %}
  {% comment %} include 'css-variables' {% endcomment %}

  <style>
    @font-face {
      font-family: "DIN Pro Regular";
      src: local('DIN Pro Regular'), url({{ 'DIN-Pro-400.otf' | asset_url }}) format('opentype');
    }
    @font-face {
      font-family: "DIN Pro Regular Italic";
      src: local('DIN Pro Regular Italic'), url({{ 'DIN-Pro-Italic-400.otf' | asset_url }}) format('opentype');
    }
    @font-face {
      font-family: "DIN Pro Light";
      src: local('DIN Pro Light'), url({{ 'DIN-Pro-Light-300.otf' | asset_url }}) format('opentype');
    }
    @font-face {
      font-family: "DIN Pro Light Italic";
      src: local('DIN Pro Light Italic'), url({{ 'DIN-Pro-Light-Italic-300.otf' | asset_url }}) format('opentype');
    }
    @font-face {
      font-family: "DIN Pro Medium";
      src: local('DIN Pro Medium'), url({{ 'DIN-Pro-Medium-500.otf' | asset_url }}) format('opentype');
    }
    @font-face {
      font-family: "DIN Pro Medium Italic";
      src: local('DIN Pro Medium Italic'), url({{ 'DIN-Pro-Medium-Italic-500.otf' | asset_url }}) format('opentype');
    }
  </style>

  {{ 'app.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% comment %} include 'script-tags', layout: 'theme' {% endcomment %}

  <script src="{{ 'app.js' | asset_url }}" async></script>

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  {% comment %}<a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>{% endcomment %}

  {% section 'header' %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'newsletter' %}

  {% section 'footer' %}

</body>
</html>
